:global {
  a {
    color: #333;
  }

  main {
    margin: 50px auto;
    padding: 20px;
    background-color: #ddd;
    border-radius: 5px;
    max-width: 1000px;
    width: 100%;
  }

  section {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    h2 {
      font-weight: bold;
      font-size: 20px;
      text-align: center;
    }
  }
}